body {
  padding: 50px;
  background-color: yellow;
  font-family: sans-serif;
}

.container {
  display: block;
  justify-content: flex;
}

button {
  margin-left: 10px;
}

input {
  margin-left: 10px;
}

